# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
backend/dist/

# Environment variables — NUNCA subir al repo
.env
frontend/.env
backend/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/*.db
